# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.sln
*.suo
*.edmx
*.dll
Web.*

# Rutas que no se tomaran en cuenta
/TestAzure/TestAzure/Properties/
/TestAzure/TestAzure/obj/
/TestAzure/TestAzure/bin/
/TestAzure/TestAzure/Content/
/TestAzure/TestAzure/fonts/
/TestAzure/TestAzure/Scripts/

/TestAzure/TestAzure_BL/Properties/
/TestAzure/TestAzure_BL/obj/
/TestAzure/TestAzure_BL/bin/

/TestAzure/TestAzure_DL/Properties/
/TestAzure/TestAzure_DL/obj/
/TestAzure/TestAzure_DL/bin/

/TestAzure/TestAzure_Clases/Properties/
/TestAzure/TestAzure_Clases/obj/
/TestAzure/TestAzure_Clases/bin/packages

/TestAzure/packages/